@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
h1{
    display: flex;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
}
a{
    display: flex;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    justify-content: space-around;
}
body{
    background-image:();
}

